---
---
<section>
  <h2>✉️ Contato</h2>
  <p>
    Quer participar, ajudar ou saber mais?<br />
    Envie um e-mail para: 
    <a href="mailto:contato@favelahacker.org">contato@favelahacker.org</a>
  </p>
</section>
